@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/HomeFrontend.js"></script>

<div class="d-flex flex-column align-items-center justify-content-center" style="height: 80vh;">
    <h1 class="display-3 mb-4" style="font-weight: bold; color: #333;">Hackathon website</h1>
</div>