@{
    ViewData["Title"] = "Login";
}

@model HackathonWebsite.BLL.DtoEntities.UserDtos.UserLogin

<script src="~/js/UsersFrontend.js"></script>

<div class="d-flex align-items-center justify-content-center" style="height: 80vh;">
    <div style="width: 400px;">
        <h1 class="mb-4 text-start" style="font-weight: bold; color: #333;">Login</h1>
        <form asp-controller="Home">
            <div class="mb-3 text-start">
                <label class="form-label">Username</label>
                <input class="form-control" type="text" id="LoginUsername" name="Username" placeholder="Enter username" value="@Model?.Username" />
            </div>

            <div class="mb-4 text-start">
                <label class="form-label">Password</label>
                <input class="form-control" type="password" id="LoginPassword" name="Password" placeholder="Enter password" value="@Model?.Password" />
            </div>

            <button class="btn btn-outline-primary w-100" type="button" onclick="submitLogin()">Login</button>
        </form>
    </div>
</div>