@{
    ViewData["Title"] = "Create Task";
}

@model HackathonWebsite.BLL.DtoEntities.HackathonTaskDtos.TaskProfileReadDto

<script src="~/js/TaskFrontend.js"></script>
<link rel="stylesheet" href="~/css/profileStyle.css" />

<div class="profile-container">
    <h1 class="mb-4 fw-bold text-center text-dark">Create a New Hackathon Task</h1>

    <form>
        <a type="button" class="btn btn-outline-primary mb-3" href="javascript:history.back()">🔙 Back</a>

        <input type="hidden" id="TaskId" name="Id" value="@Model?.Id"/>
        <input type="hidden" id="TaskRating" name="Rating" value="0"/>

        <div class="mb-4">
            <label for="TaskName" class="form-label fw-semibold">📝 Task Name</label>
            <input class="form-control rounded-3" type="text" id="TaskName" name="Name" placeholder="Enter name" value="@Model?.Name"/>
        </div>

        <div class="mb-4">
            <label for="TaskDescription" class="form-label fw-semibold">📌 Task Description</label>
            <textarea class="form-control rounded-3" id="TaskDescription" name="Description" rows="4" placeholder="Enter description">@Model?.Description</textarea>
        </div>

        <div class="text-end">
            <button class="btn btn-outline-success" type="button" onclick="submitTask()">➕ Create Task</button>
        </div>
    </form>
</div>